.calc-container {
  width: 10rem;
  margin: calc(25vh - 10rem) auto;
}

.calc-display {
  background-color: white;
  color: darkslategrey;
  text-align: right;
  /* font-weight: 200;
  flex: 0 0 auto; */
  width: 100%;
  max-width: 10rem;
  border-radius: 4px;
  margin-bottom: 1rem;
}

.calc-display > div {
  font-size: 16px;
  padding: 8px
}

.calc-panel {
  background-color: transparent;
  display: flex;
  flex-flow: column nowrap;
  max-width: 10rem;
  /* flex: 1 0 auto; */
}

.calc-panel .calc-button-row {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}

.component-button {
  display: inline-flex;
  width: 25%;
  flex: 1 0 auto;
}

.component-button button {
  height: 2rem;
  width: 2rem;
  max-width: 2rem;
  font-size: 16px;
  margin: 0 4px 4px 0;
  flex: 1 0 auto;
  padding: 0;
}

.component-button button.wide {
  width: 3rem;
  max-width: 3rem;
  margin-right: 6px;
}

.component-button:last-child button {
  margin-right: 0;
}

.component-button.orange button {
  background-color: #f5923e;
  color: white;
}
