@import url('https://fonts.googleapis.com/css?family=Grand+Hotel|Roboto');

body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to left, #828dac 0%, #ffead8 100%);
  color: white;
}

.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.App h1 {
  font-family: 'Grand Hotel', cursive;
  font-weight: lighter;
  font-size: 64px;
}

.App .header {
  height: 100vh;
  width: 50vw;
  color: white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.App div {
  height: 50vh;
  max-height: 50vh;
  width: 50vw;
  padding: 16px;
  border: dotted 1px white;
}

.App div div {
  border: none;
}

.App input {
  border: solid 3px white;
  border-radius: 5px;
  background: transparent;
  color: white;
  font-size: 20px;
  padding: 5px;
  margin: 16px;
  width: 60%;
}

.App .emoji .emoji-results {
  max-width: 50%;
  margin: 8px auto;
  line-height: 32px;
  font-size: 32px;
  letter-spacing: 8px;
}

.App .dictionary-results {
  max-width: 50%;
  margin: 8px auto;
}