@import url('https://fonts.googleapis.com/css?family=Pangolin|Lato');

body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to bottom right, #2F9DE2 0%, #fce284 100%);
  color: white;
  font-size: 16px;
  overflow: hidden;
}

.dawn {
  background-image: linear-gradient(to bottom right, #114b7f 0%, #b29c93 100%);
}

.day {
  background-image: linear-gradient(to bottom right, #2F9DE2 0%, #fce284 100%);
}

.dusk {
  background-image: linear-gradient(to bottom right, #828dac 0%, #af5e53 100%);
}

.night {
  background-image: linear-gradient(to bottom right, #332E4A 0%, #828dac 100%);
}
