@import url('https://fonts.googleapis.com/css?family=Grand+Hotel|Roboto');

body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to left, #828dac 0%, #ffead8 100%);
  color: white;
}

.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.App h1 {
  font-family: 'Grand Hotel', cursive;
  font-weight: lighter;
  font-size: 64px;
  margin-bottom: 0px;
}

.App button.chooser {
  width: 25vw;
  height: 5vh;
  border: solid 3px white;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif !important;
  font-size: 16px;
  color: white;
  background-color: transparent;
}

.App .top {
  height: 50vh;
  width: 100vw;
  color: white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}

.App .bottom {
  height: 50vh;
  width: 100vw;
  color: white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.App .emoji, .App .dictionary, .App .calculator {
  height: 50vh;
  max-height: 50vh;
  width: calc(33vw - 16px);
  max-width: calc(33vw - 48px);
  padding: 16px;
  margin: 8px;
}

.App .kanban {
  width: 100vw;
  height: 50vh;
}

.App input {
  border: solid 3px white;
  border-radius: 5px;
  background: transparent;
  color: white;
  font-size: 20px;
  padding: 0px 8px;
  margin: 16px;
  width: calc(25vw - 16px);
  height: 5vh;
}

.App .emoji .emoji-results {
  max-width: 50%;
  margin: 8px auto;
  line-height: 32px;
  font-size: 32px;
  letter-spacing: 8px;
}

.App .dictionary-results {
  max-height: 20vh;
  max-width: 75%;
  margin: 8px auto;
  overflow-y: auto;
}
